<section id="music" class="container-fluid navbar fixed-bottom m-0 p-0">

<div id="music-player" class="text-center" style="background-color: #EEEEFF">
<div class="row">

<div class="col-12">
<div id="seek-bar" class="progress col-12">
<div class="progress-bar progress-bar-striped bg-dark progress-bar-animated m-0 p-0" role="progressbar m-0 p-0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
</div>
</div>
</div>

</div>

<div class="row m-0 p-0">

<div class="col-3 m-0 p-0">

</div>

<div class="col-6 m-0 p-0 py-3">

<audio id="player" class="m-0 p-0">
<source id="ogg_src" src="" type="audio/ogg" />
<source id="mp3_src" src="" type="audio/mp3" />
</audio>
<i id="backward" class="col-1 fas fa-fast-backward fa-lg text-dark"></i>
<i id="prev" class="col-1 fas fa-backward fa-lg text-dark"></i>
<i id="pause" class="col-1 fas fa-pause fa-lg text-dark"></i>
<i id="stop" class="col-1 fas fa-stop fa-lg text-dark"></i>
<i id="play" class="col-1 fas fa-play fa-lg text-dark"></i>
<i id="next" class="col-1 fas fa-forward fa-lg text-dark"></i>
<i id="forward" class="col-1 fas fa-fast-forward fa-lg text-dark"></i>

<span class="col-5 slidecontainer">
<input type="range" min="0" max="100" value="50" class="slider m-0" id="myRange">
</span>

</div>

<div class="col-3">

</div>

</div>
</div>

</section>
