  <div class="container-fluid">
  
  <nav id="nav-bar" class="navbar navbar-expand-lg navbar-dark fixed-top test">

  <i class="fas fa-headphones-alt text-light mr-2"></i><%= link_to "MUSICAPP" , root_path, class: "navbar-brand"%>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        </i><%= link_to "Home" , root_path, class: "nav-link"%>
      </li>
      
      <li class="nav-item">
      <a class="nav-link disabled text-light" href="#">Signed in as : <%= current_user.email.split('@')[0].capitalize%></a>
      </li>

      <li class="nav-item">
         <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "nav-link" %>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      
      <input class="form-control mr-sm-2 search-field" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0 search-button" type="submit"><i class="fas fa-search fa-lg text-light"></i></button>

    </form>
  
  </div>
</nav>

