<h2 class="m-0 ml-4 mb-3">Editing Album</h2>

<%= render 'form', album: @album %>

<%= link_to 'Show', @album, :class => "btn btn-primary my-4 ml-4" %>
<%= link_to 'Back', albums_path, :class => "btn btn-dark my-4" %>
